stages:
  - build
  - push

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  BACKEND_IMAGE: $CI_REGISTRY_IMAGE/backend:$CI_COMMIT_SHORT_SHA
  FRONTEND_IMAGE: $CI_REGISTRY_IMAGE/frontend:$CI_COMMIT_SHORT_SHA
  BACKEND_IMAGE_LATEST: $CI_REGISTRY_IMAGE/backend:latest
  FRONTEND_IMAGE_LATEST: $CI_REGISTRY_IMAGE/frontend:latest

build-backend:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_BUILDKIT: 1
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build
        -t $BACKEND_IMAGE
        -t $BACKEND_IMAGE_LATEST
        -f backend/Dockerfile
        backend/
  after_script:
    - docker push $BACKEND_IMAGE
    - docker push $BACKEND_IMAGE_LATEST

build-frontend:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_BUILDKIT: 1
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build
        --build-arg VITE_API_URL=${VITE_API_URL:-http://localhost:8000}
        -t $FRONTEND_IMAGE
        -t $FRONTEND_IMAGE_LATEST
        -f frontend/ticket-frontend/Dockerfile
        frontend/ticket-frontend/
  after_script:
    - docker push $FRONTEND_IMAGE
    - docker push $FRONTEND_IMAGE_LATEST
